.counter{
    width: 400px;
    height: 200px;
    background-color: rgb(12, 37, 35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.counter h1{
    color: rgb(108, 174, 229);
}

.count-number{
    color: white;
    font-size: 50px; 
    margin-bottom: 20px;
}

.button{
    display: block;
    width: 100px;
    text-align: center;
    height: 30px;
    font-size: 30px;
    color: white;
    background-color: lightpink;
    cursor: pointer;
    user-select: none;
}